.container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: url(/img/TheBox_Table.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: url(/img/EyeHalf.png), auto;
	margin: 0;
	background-color: #fff;
}
.deck-entry:hover {
	cursor: url(/img/EyeOpen.png), auto;
}
.container:active {
	cursor: url(/img/EyeClosed.png), auto;
}
.section-decklist {
	transform-origin: top left;
	position: relative;
	margin: 0 auto;
}
.background {
	position: absolute;
	width: 100%;
}
.minions {
	position: absolute;
	width: 80%;
	height: 16%;
	left: 9%;
	display: flex;
	/*background-color: white;*/
	justify-content: center;
	perspective: 80vw;
}
.up {
	top: 31.5%;
	perspective-origin: top;
}
.down {
	bottom: 35%;
	perspective-origin: bottom;
}
.minion {
	width: 14.2%;
	height: 100%;
	/*background-color: green;*/
	position: relative;
}
.minion .image {
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	left: 50%;
	transform: translateX(-50%) scale(1.5);
}
.minion .image.art {
	background-position: center 5%;
	background-size: 100%;
	transform: translateX(-50%);
	-webkit-clip-path: ellipse(39% 44% at 50% 45%);
	clip-path: ellipse(39% 44% at 50% 45%);
}
.border {
	background-image: url(/img/border.png);
}
.minion.golden .border {
	background-image: url(/img/border-golden.png);
}
.atk-health {
	background-image: url(/img/atk-health.png);
}
.minion.taunt .taunt {
	background-image: url(/img/taunt.png);
}
.minion.taunt.golden .taunt {
	background-image: url(/img/taunt-golden.png);
}
.minion.legendary .legendary {
	background-image: url(/img/legendary.png);
}
.minion.legendary.golden .legendary {
	background-image: url(/img/legendary-golden.png);
}
.minion.deathrattle .deathrattle {
	background-image: url(/img/deathrattle.png);
}
.minion.trigger .trigger {
	background-image: url(/img/trigger.png);
}
.minion.poisonous .poisonous {
	background-image: url(/img/poisonous.png);
}
.minion.shield .shield, .minion.lose-shield .shield {
	background-image: url(/img/divine-shield.png);
}
.minion.lose-shield .shield {
	animation: lose-shield 1s forwards;
	animation-delay: .5s;
}
.image.blood-splat {
	transform: translateX(-50%) scale(1);
	background-image: url(/img/blood-splat.png);
	animation: splat 3s forwards;
}
.minion.dying {
	animation: exit 1.5s forwards;
}
.minion.before-summon {
	display: none;
}
.minion.summon {
	animation: summon 1.5s ease-out;
}
@keyframes lose-shield {
	from {
		transform: translateX(-50%) scale(1.5);
		opacity: 1;
	}
	to {
		transform: translateX(-50%) scale(2);
		opacity: 0;
	}
}
@keyframes text-splat {
	0% {
		transform: translateX(50%) scale(1);
	}
	20% {
		transform: translateX(50%) scale(2);
	}
	40% {
		transform: translateX(50%) scale(0.5);
	}
	60% {
		transform: translateX(50%) scale(1.2);
	}
	80% {
		transform: translateX(50%) scale(0.9);
	}
	100% {
		transform: translateX(50%) scale(1);
	}
}
@keyframes splat {
	0% {
		transform: translateX(-50%) scale(0);
	}
	10% {
		transform: translateX(-50%) scale(1.3);
	}
	15% {
		transform: translateX(-50%) scale(1.1);
	}
	20% {
		transform: translateX(-50%) scale(1.2);
	}
	70% {
		transform: translateX(-50%) scale(1.2);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) scale(1.2);
		opacity: 0;
	}
}
@keyframes exit {
	0% {
		transform: scale(1);
		max-width: 15vw;
		opacity: 1;
		filter: grayscale(0);
	}
	50% {
		transform: scale(1);
		max-width: 15vw;
		opacity: 1;
		filter: grayscale(1);
	}
	100% {
		transform: scale(0);
		max-width: 0;
		opacity: 0;
		filter: grayscale(1);
	}
}
@keyframes summon {
	0% {
		transform: rotateY(90deg);
		max-width: 0;
	}
	100% {
		max-width: 15vw;
	}
}
.section-decklist.shake-down {
	animation: shake-down .2s;
}
@keyframes shake-down {
	0% {}
	50% {
		transform: translateY(10px);
	}
	100% {}
}
.section-decklist.shake-up {
	animation: shake-up .2s;
}
@keyframes shake-up {
	0% {}
	50% {
		transform: translateY(-10px);
	}
	100% {}
}
.text {
	color: white;
	position: absolute;
	font-size: 160%;
}
.text.blood-splat {
	top: 35%;
	left: 50%;
	transform: translateX(-50%) rotate(-25deg);
}
.text.attack, .text.health {
	top: 60%;
}
.text.attack {
	left: 26%;
	transform: translateX(-50%);
}
.text.health {
	right: 23%;
	transform: translateX(50%);
}
.text.health.text-splat {
	animation: text-splat 1s;
}

.overlay {
	position: fixed;
	background-position: center;
	background-size: 128%;
	background-repeat: no-repeat;
}
.deathrattle-die {
	background-image: url(/img/deathrettle-die.png);
	animation: die 4s forwards;
	transform-origin: bottom center;
}
@keyframes die {
	0% {
		transform: translateX(-50%) translateY(10%) scale(0.3);
		opacity: 0.2;
	}
	80% {
		transform: translateX(-50%) translateY(0%) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(0%) scale(1);
		opacity: 0;
	}
}
#console {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	font-size: large;
	overflow: scroll;
	z-index: 200;
	font-family: monospace;
}
.preview {
	z-index: 300;
	display: none;
	position: absolute;
	transform: translateX(-90%) translateY(-30%);
	pointer-events: none;
}
.minion:hover .preview {
	display: block;
}
#menu-icon {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 300;
	background: 0;
	border: 0;
	outline: 0;
}
#menu-icon:active {
	transform: translateY(3px);
}
#menu {
	display: none;
}
